.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--bgSoft);
   border-radius: 10px;
   padding: 20px;
}

.title {
   text-transform: capitalize;
   color: var(--textSoft);
   font-weight: bold;
}

.menu {
   display: flex;
   align-items: center;
   gap: 20px;
}

.search {
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: var(--bgHover);
   padding: 10px;
   border-radius: 10px;
}

.input {
   background-color: transparent;
   color: var(--text);
   border: none;
   outline: none;
}

.icons {
   display: flex;
   gap: 10px;
}